/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-dark;
    min-height: 80px;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: $dark-color;
}

.site-title {
  position:absolute;
  svg{
    margin-top:20px;
    height:45px;
    width:45px;
    path{
      fill:$grey-color;
    }
    &:hover path{
      fill:$text-color;
    }
  }
}
.site-tagline{
  display:inline-block;
  color: $grey-color;
}

.site-nav {
    float: right;
    line-height: 80px;
    display: none;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    li{
      float: left;
      padding: 0 2em 0 0;
      a{
        color: $grey-color;
        &:hover{
          color: black;
        }
      }
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background-color: $dark-color;
    width: 100%;
    height: calc(100% - 84px - 60px); // Minus footer, site-content padding
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
